@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300;400;700&display=swap");

// Colors

// Primary
$cyan: hsl(179, 62%, 43%);
$bright-yellow: hsl(71, 73%, 54%);
$light-cyan: hsl(179, 49%, 50%);

// Neutral
$light-gray: hsl(204, 43%, 93%);
$grayish-blue: hsl(218, 22%, 67%);

// Font
$font-size: 16px;
$font-family: "Karla";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

h1,
h2 {
  line-height: 1;
}

h1 {
  margin-bottom: 1em;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  outline: $bright-yellow;
  border: none;
  border-radius: 5px;
  padding: 1rem 2rem;
  background: $bright-yellow;
  color: #ffffff;
  cursor: pointer;
  text-align: center;
  transition: all 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

body {
  font-family: $font-family, sans-serif;
  font-size: $font-size;
  font-weight: 400;
  color: $light-gray;
  line-height: 1.6;
  min-height: 100vh;
}

// Prices section
.prices {
  min-height: 100vh;
  background: $light-gray;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.5em 0;

  .prices-container {
    border-radius: 5px;
    width: 83%;
    max-width: 800px;
    margin: 0 auto;
    overflow: hidden;
    box-shadow: 1px 10px 30px 10px rgba(152, 166, 189, 0.3);
  }

  .intro,
  .subscription,
  .why-us {
    padding: 2em 1.5em;
  }

  .intro {
    background: white;

    h1 {
      color: $cyan;
      font-size: 1.3rem;
      margin-bottom: 1.2em;
    }

    h2 {
      color: $bright-yellow;
      font-size: 1rem;
    }

    p {
      color: $grayish-blue;
      margin: 1.3em 0 0;
      font-size: 0.84rem;
    }
  } // End of intro

  .subscription {
    background: $cyan;

    h1 {
      font-size: 1.1rem;
    }

    span {
      font-size: 2rem;
      font-weight: 700;

      small {
        font-size: 1rem;
        font-weight: 300;
      }
    }

    a.btn {
      padding: 0.8em 1em;
      margin: 1.5em 0 0;
      width: 100%;
      box-shadow: 0 5px 20px 2px rgba(0, 0, 0, 0.2);
      font-weight: 700;
    }

    a.btn:hover {
      transform: scale(1.02);
    }
  } // End of subscription

  .why-us {
    background: $light-cyan;

    h1 {
      font-size: 1.2rem;
    }

    li {
      font-size: 0.85rem;
      font-weight: 300;
    }
  }
} // End of Prices section

.attribution {
  font-size: 11px;
  text-align: center;
  color: #333;
  width: 90%;
  margin: 0 auto;
  padding: 0.5em 0;
  line-height: 1.1;
}
.attribution a {
  //   color: hsl(228, 45%, 44%);
  color: $cyan;
}

// Media queries
@media (min-width: 700px) {
  .prices {
    .prices-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    .intro,
    .subscription,
    .why-us {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 3em;
    }

    .intro {
      grid-column: span 2;

      h1 {
        font-size: 2rem;
      }

      h2 {
        font-size: 1.5rem;
      }

      p {
        font-size: 1rem;
        width: 80%;
      }
    } //End of intro

    .subscription {
      h1 {
        font-size: 1.4rem;
      }

      span {
        font-size: 2rem;
      }

      p {
        font-size: 1.1rem;
      }
    } //End of subscription

    .why-us {
      h1 {
        font-size: 1.4rem;
      }

      li {
        font-size: 0.9rem;
      }
    }
  }
}
