@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300;400;700&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

h1,
h2 {
  line-height: 1;
}

h1 {
  margin-bottom: 1em;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  outline: #c0df34;
  border: none;
  border-radius: 5px;
  padding: 1rem 2rem;
  background: #c0df34;
  color: #ffffff;
  cursor: pointer;
  text-align: center;
  -webkit-transition: all 250ms ease-in-out, -webkit-transform 150ms ease;
  transition: all 250ms ease-in-out, -webkit-transform 150ms ease;
  transition: all 250ms ease-in-out, transform 150ms ease;
  transition: all 250ms ease-in-out, transform 150ms ease, -webkit-transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

body {
  font-family: "Karla", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #e5eff5;
  line-height: 1.6;
  min-height: 100vh;
}

.prices {
  min-height: 100vh;
  background: #e5eff5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2.5em 0;
}

.prices .prices-container {
  border-radius: 5px;
  width: 83%;
  max-width: 700px;
  margin: 0 auto;
  overflow: hidden;
  -webkit-box-shadow: 1px 10px 30px 10px rgba(152, 166, 189, 0.3);
          box-shadow: 1px 10px 30px 10px rgba(152, 166, 189, 0.3);
}

.prices .intro,
.prices .subscription,
.prices .why-us {
  padding: 1.7em 1.5em;
}

.prices .intro {
  background: white;
}

.prices .intro h1 {
  color: #2ab2af;
  font-size: 1.3rem;
  margin: 0.3em 0 1.3em;
}

.prices .intro h2 {
  color: #c0df34;
  font-size: 1rem;
}

.prices .intro p {
  color: #98a6bd;
  margin: 1.1em 0 0.3em;
  font-size: 0.84rem;
  line-height: 1.8;
}

.prices .subscription {
  background: #2ab2af;
}

.prices .subscription h1 {
  font-size: 1.1rem;
  margin-bottom: 0.7em;
}

.prices .subscription span {
  font-size: 2rem;
  font-weight: 700;
}

.prices .subscription span small {
  font-size: 1rem;
  font-weight: 300;
}

.prices .subscription p {
  font-size: 15.5px;
  margin-bottom: 0.3em;
}

.prices .subscription a.btn {
  padding: 0.8em 1em;
  margin: 1.5em 0 0;
  width: 100%;
  -webkit-box-shadow: 0 5px 20px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 20px 2px rgba(0, 0, 0, 0.2);
  font-weight: 700;
}

.prices .subscription a.btn:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.prices .why-us {
  background: #41bebc;
}

.prices .why-us h1 {
  font-size: 1.2rem;
}

.prices .why-us li {
  font-size: 0.85rem;
  font-weight: 300;
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: #333;
  width: 90%;
  margin: 0 auto;
  padding: 0.5em 0;
  line-height: 1.1;
}

.attribution a {
  color: #2ab2af;
}

@media (min-width: 700px) {
  .prices .prices-container {
    width: 90%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .prices .intro,
  .prices .subscription,
  .prices .why-us {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 2em 3em;
  }
  .prices .intro {
    grid-column: span 2;
  }
  .prices .intro h1 {
    font-size: 1.6rem;
    margin: 0.3em 0 1em;
  }
  .prices .intro h2 {
    font-size: 1.2rem;
  }
  .prices .intro p {
    font-size: 1rem;
    width: 90%;
    margin: 0.9em 0 0.3em;
  }
  .prices .subscription h1 {
    font-size: 1.2rem;
  }
  .prices .subscription span {
    font-size: 2rem;
  }
  .prices .subscription p {
    font-size: 1rem;
  }
  .prices .why-us h1 {
    font-size: 1.2rem;
  }
  .prices .why-us li {
    font-size: 0.9rem;
  }
}
/*# sourceMappingURL=style.css.map */